$base_color_1:  #535c60;
$base_color_1_lighten:  lighten($base_color_1, 30%);
$base_color_1_darken:  darken($base_color_1, 30%);

$base_color_2:  #8b8b8b;
$base_color_2_lighten:  lighten($base_color_2, 30%);
$base_color_2_darken:  darken($base_color_2, 30%);

$base_color_3:  #dedad7;
$base_color_3_lighten:  lighten($base_color_3, 30%);
$base_color_3_darken:  darken($base_color_3, 30%);

$base_color_4:  #73939d;
$base_color_4_lighten:  lighten($base_color_4, 30%);
$base_color_4_darken:  darken($base_color_4, 30%);

$base_color_5:  #ffffff;
$base_color_5_lighten:  lighten($base_color_5, 30%);
$base_color_5_darken:  darken($base_color_5, 30%);